/UNIDAD 1/1.2. Tecnicas de Programacion/Semana2_java/target/
PRACTICAS/.idea/*
PRACTICAS/.venv/*
/PRACTICAS/semana10/__pycache__
PRACTICAS/semana10/__pycache__
/PRACTICAS/semana11/__pycache__
PRACTICAS/semana11/__pycache__